.nav li {
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
    width: 200px;
	z-index: 10;
}
.nav ul {
	margin: 30px auto;
    padding: 0 20px;
    text-align: center;
	height: 50px;
}
body {
	background-color: #81E897;
	margin: 0 auto;
}

.arial {
	font-family: Arial;
}
.nav a {
	color: white;
	text-decoration: none;
}

.nav a:visited {
	color: white;
}

#navhome {
	width: 40%;
	height: 40%;
	vertical-align: middle;
}

.bold {
	font-weight: bold;
}

#box {
	display: box;
	border: 2px black solid;
	height: 900px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
}
#box1 {
	grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#box2 {
	grid-box: box2;
}

#box3 {
	grid-box: box2;
}

#box4 {
	grid-box: box4;
}